<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>INDEX PAGE</h2>

    <textarea name="" id="chat-log" cols="60" rows="20"></textarea>
    <br>
    Message : <input type="text" name="" id="chat-message-input" size="50">
    <br><br>
    click here to submit : <input type="submit" value="submit" id="chat-message-submit">


    <script>

        // var ws = new WebSocket("ws://127.0.0.1:8000/ws/sc/")
        var ws = new WebSocket("ws://127.0.0.1:8000/ws/ac/")

        ws.onopen = function(event){
            console.log("connection is open 24---------",event)
        }

        ws.onmessage = function(event){
            console.log("event is 28------------", event)
            console.log("message and type is 29+++++++++", event.data, typeof(event.data))
            
            // parsing the data convert from string to object
            const data = JSON.parse(event.data)
            console.log("paresed data is -----------", data, typeof(data))
            console.log("actula content is  -----------", data.msg, typeof(data.msg))

            // adding data to the text area
            document.querySelector("#chat-log").value += (data.msg + '\n')
        }

        ws.onclose = function(event){
            console.log("connection is closed 33----------",event)
            console.error("error ocuured")
        }

        document.getElementById('chat-message-submit').onclick = function(event){
            
            // getting the dom element from the document
            const messageInputDom = document.getElementById("chat-message-input");
            console.log("messageInputDom 41++++++++", messageInputDom)
            
            //getting the message value from the dom element
            const message = messageInputDom.value;
            // converting json object to string for sending to the server
            
            const string_message = JSON.stringify({ 'msg' : message})
            console.log("message is 48+++++", message)
            ws.send(string_message)
            // emptying the message box
            messageInputDom.value = " "

        }





    </script>
    
</body>
</html>