<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Page count :-- <span id="ct"></span></h2>



    <script>
        // for sync
        // var ws = new WebSocket("ws://127.0.0.1:8000/ws/jwc/");
        // async
        var ws = new WebSocket("ws://127.0.0.1:8000/ws/ajwc/");

        ws.onopen = () => {
            console.log("+++++++++connected !")
            ws.send(JSON.stringify({"msg": "message from client !"}))
        }

        ws.onmessage = (event) => {
            console.log("++++++++++++ event is ", event)
            data = event.data
            console.log("the type response is ", typeof(data))
            json_data = JSON.parse(data)
            console.log("type of json data is ", typeof(json_data))
            document.getElementById("ct").innerText += json_data["message"] + ", "
        }

    </script>
    
</body>
</html>